.connectWalletButton{
    font-family: 'Fredoka One', cursive !important;
    font-weight: normal !important;
    background-color: #8d5be9 !important;
    border-radius: 25px !important;
    height: 60% !important;
}

.blah{
    color: white;
}

.header-logog{
    cursor: pointer;
}

.header-elem{
    cursor: pointer;
}

.header-elem:hover {
    background-color: #45a988;
  }