.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.loading-emoji {
  animation: pulsate 1.5s ease-in-out;
  animation-iteration-count: infinite; 
  -webkit-animation: pulsate 1.5s ease-in-out;
  -webkit-animation-iteration-count: infinite; 
}

.stat-emoji {
  user-select: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes pulsate {
  0% { 
    transform: scale(1.0);
  }
  50% { 
    transform: scale(1.2);
  }
  100% { 
    transform: scale(1.0);
  }
}

@-webkit-keyframes pulsate {
  0% { 
    transform: scale(1.0);
  }
  50% { 
    transform: scale(1.2);
  }
  100% { 
    transform: scale(1.0);
  }
}

@keyframes mini-pulsate {
  0% { 
    transform: scale(1.0);
  }
  50% { 
    transform: scale(1.08);
  }
  100% { 
    transform: scale(1.0);
  }
}

@-webkit-keyframes mini-pulsate {
  0% { 
    transform: scale(1.0);
  }
  50% { 
    transform: scale(1.08);
  }
  100% { 
    transform: scale(1.0);
  }
}